@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
  box-sizing: border-box;
  margin: auto;
 
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_variables-dark";

body {
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  color: #212529;
  overflow-x: hidden;
  margin: auto;
}

.main {
  min-width: 350px;
}

// .containerbox {
//   width: 100%
// }

.mainbox {
  margin: 0 70px;
}

.MuiAxis-label {
  font-size: 0.2rem  ; /* Adjust font size */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50rem;
  transition: color .15s, background-color .15s, border-color .15s, box-shadow .15s;
}

.btn-primary {
  background-color: #997dff; 
  border-radius: 50rem; 
  border-color:  #997dff; 
  color: #ffffff; 
  margin: 4px; 
}

.btn-outline-primary {
  background-color: #ffffff  ;
  border-radius: 50rem  ;
  border-color:  #997dff  ;
  color: #997dff  ;
  margin: 4px  ;
}

.btn-secondary {
  background-color: #85BFB6 ;
  border-radius: 50rem  ;
  border-color:  #85BFB6  ;
  color: #212529  ;
  margin: 4px  ;
}

.btn-outline-secondary {
  background-color: #ffffff  ;
  border-radius: 50rem  ;
  border-color:  #85BFB6  ;
  color: #85BFB6  ;
  margin: 4px  ;
}

.btn-black-purple {
  background-color: #212529  ;
  border-radius: 50rem  ;
  border-color:  #997dff  ;
  color: #997dff  ;
  margin: 4px  ;
}

.btn-black-green {
  background-color: #212529  ;
  border-radius: 50rem  ;
  border-color:  #85BFB6  ;
  color: #85BFB6  ;
  margin: 4px  ;
}

.btn-small-tech  {
    background-color: #212529  ;
    border: none;
    border-radius: 50rem  ;
    color: #ffffff  ;
    font-size: 0.7rem;
    margin: 4px;
  
  

  }

  .btn:hover {
  background-color: #ffffff  ;
  border-radius: 50rem  ;
  border-color:  #212529  ;
  color: #212529  ;
  margin: 4px  ;
  }




  // Tools Buttons in a Grid

  // .random-button-grid {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center; /* Center align buttons */
  //   gap: 0.2rem; /* Space between buttons */
  // }
  
  // .random-button-grid button {
  //   flex: 0 1 auto; /* Allow the button to grow and shrink */
  //   // min-width: 120px; /* Set a minimum width for buttons */
  //   // max-width: 200px; /* Set a maximum width for buttons */
  // }




.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.special-purple {
  font-family: Playfair Display;
  font-style: italic;
  color: #997dff;
}

.special-black {
  font-family: Playfair Display;
  font-style: italic;
  color: #212529;
}



@media (min-width: 769px) and (max-width: 1000px) {

  * {
    box-sizing: border-box;
    margin: auto;
   
  }


.mainbox {
  margin: 0 5px;
}

}

@media (min-width: 501px) and (max-width: 768px) {


  .mainbox {
    margin: 0 5px;
  }
/* Center align the buttons and stack vertically */
.custom-nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

/* Add width and margin adjustments for buttons */
.custom-nav-buttons, .btn, .btn-primary, .btn-outline-primary, .btn-secondary, .btn-outline-secondary {
  margin: auto;
  align-self: center;
  width: 100%; 
  margin-bottom: 1rem; /* Add vertical spacing */
  gap: 0.5rem; /* Add vertical spacing */
  font-size: 1rem;
}

/* Center-align toggle switches */
.custom-toggle-switches {
  justify-content: center;
  width: 100%;
 }

 .col {
  flex: 0 0 100%;
  max-width: 100%;
}
}

/* Style for small screens */
@media all and (max-width: 500px) {

 

  .mainbox {
    margin: 0 5px;
    min-width: 100%;
  }

  /* Center align the buttons and stack vertically */
  .custom-nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

  /* Add width and margin adjustments for buttons */
  .custom-nav-buttons, .btn, .btn-primary, .btn-outline-primary, .btn-secondary, .btn-outline-secondary {
    margin: auto;
    align-self: center;
    width: 100%;
    margin-bottom: 1rem; /* Add vertical spacing */
    gap: 0.8rem; /* Add vertical spacing */
    font-size: 1rem;
  }

  /* Center-align toggle switches */
  .custom-toggle-switches {
    justify-content: center;
    width: 100%;
   }

  //  .col {
  //   flex: 0 0 100%;
  //   max-width: 100%;
  // }

}
